@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "CyberNadzor";
}

<div class="text-center">
    <h1 class="display-4">Страница приветствия</h1>
</div>

